<head>
<meta name="google-site-verification" content="fluSpSFjhsdQbmQEFdJ9xXewFhHCfyBgv3R8Qnpf6Tg" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes, minimum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="AllOfUs">
    <meta property="og:title" content="In the age of Trump, we need an unprecedented mass movement that fights for #AllofUs."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.allofus.org"/>
    <meta property="og:image" content="{{ site.baseurl }}/images/shareimage.png"/>
    <meta property="og:site_name" content="AllOfUs"/>
    <meta property="fb:admins" content="612663871"/>
    <meta property="og:description" content="We refuse to allow Trump and a corrupt ruling class to divide us and destroy our country. We will organize a democratic revolution to make America a real, multi-racial democracy for the first time in our history."/>
    <meta property="twitter:title" content="AllOfUs" />
    <meta property="twitter:description" content="We refuse to allow Trump and a corrupt ruling class to divide us and destroy our country.. We will organize a political revolution to make America a real, multi-racial democracy for the first time in our history." />

    <title>AllOfUs</title>

    <link href="{{ site.baseurl }}/css/allofus.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src='https://actionnetwork.org/widgets/v2/event_campaign/plan-a-gop-hands-off-me-action?format=js&referrer=allofus-allofus2016&source=widget'></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/core.js"></script>

</head>


