<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

      <div class="header">

          <div class="header-logo">

            <a href="http://www.allofus.org"><img src="{{site.baseurl}}/images/logo.png" style="height:40px;"></a>

          </div>

          <div class="header-buttons">

              <a href="http://www.allofus.org/#take-action" class="header-text">TAKE ACTION</a>

              <div class='share-icon fb-small' ><a href="http://www.facebook.com/sharer/sharer.php?u=http://www.allofus.org" target="_blank"><img class="icon" src="images/facebook-icon.png"></a></div>
              
              <div class='share-icon fb-small' ><a href="https://twitter.com/intent/tweet?text=We%20will%20fight%20Trump%20every%20step%20of%20the%20way—and%20take%20on%20the%20Wall%20St%20Democrats%20who%20failed%20to%20stop%20him.%20www.allofus.org%20%23TrumpvsAllofUs" target="_blank"><img class="icon" src="images/twitter-icon.png"><img class="icon" src="images/twitter-icon.png"></a></div>

          </div>

      </div>


      <div class="container content">
        {{ content }}
      </div>

    <div class="footer">

      <div class="footer-content">

        <p class="footer-text">It's time for an America for #AllOfUs</p>

        <div class="footer-buttons">

          <div class='share-icon fb-small' ><a href="http://www.facebook.com/sharer/sharer.php?u=http://www.allofus.org" target="_blank"><img class="icon" src="images/facebook-icon.png"></a></div>
          <div class='share-icon fb-small' ><a href="https://twitter.com/intent/tweet?text=We%20will%20fight%20Trump%20every%20step%20of%20the%20way—and%20take%20on%20the%20Wall%20St%20Democrats%20who%20failed%20to%20stop%20him.%20www.allofus.org%20%23TrumpvsAllofUs" target="_blank"><img class="icon" src="images/twitter-icon.png"></a></div>
          <div class='share-icon fb-small' ><a href="mailto:?subject=Subjectline=Check%20out%20AllOfUs.org!&body=Hey%2C%20I%20just%20joined%20AllofUs.org%2C%20a%20new%20multi-racial%2C%20millennial-led%20movement%20fighting%20racism%20and%20corporate%20greed.%20AllofUs%20is%20organizing%20to%20stop%20Trump%E2%80%99s%20agenda%20of%20hate%E2%80%94and%20also%20taking%20on%20the%20Democratic%20Party%20for%20selling%20out%20our%20communities%20to%20Wall%20Street.%0A%0ACheck%20it%20out!%0A%0ALink%3A%20http%3A%2F%2Fwww.allofus.org" target="_blank"><img class="icon" src="images/email-icon.png"></a></div>

        </div>

    </div>

</body>
</html>
