<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

      <div class="header">

          <div class="header-logo">

            <a href="http://www.allofus.org"><img src="{{site.baseurl}}/images/logo.png" style="height:40px;"></a>

          </div>

          <div class="header-buttons">

              <a href="http://www.allofus.org/#take-action" class="header-text">TAKE ACTION</a>

                <div class='share-icon fb-small' ><a href="#"><img src="/images/facebook-icon.png"></a></div>
                
                <div class='share-icon fb-small' ><a href="#"><img src="/images/twitter-icon.png"></a></div>

          </div>

      </div>


      <div class="container content">
        {{ content }}
      </div>

    <div class="footer">

      <div class="footer-content">

        <p class="footer-text"><a href="http://www.credoaction.com/" target="_blank" class="footer-text">This is some basic sample footer text that goes at the bottom of the page.</a></p>

        <div class="footer-buttons">

          <div class='sp_175852 sp_fb_small' ></div>
          <div class='sp_175854 sp_tw_small' ></div>
          <div class='sp_175853 sp_em_small' ></div>

        </div>

    </div>

</body>
</html>
